*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(0,255,252);
    background: linear-gradient(48deg, rgba(0,255,252,0.9836309523809523) 0%, rgba(101,82,251,1) 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner{
    width: 280px;
    height: 400px;
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.conteiner h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: rgba(101,82,251,1);
    font-weight: 400;

}
button{
    width: 50px;
    height: 40px;
    padding: 8px;
    margin: 5px;
    border: none;
}
            
input{
   width: 250px;
   height: 40px;
   border: none;
   outline: none;
   padding: 20px;
   margin-bottom: 15px;
   border-radius: 5px;
}
